:root {
  --primary: #fafafa;
  --primary-foreground: #0f0f0f;
  --secondary: #272727;
  --secondary-foreground: #f1f1f1;
  --background: #0f0f0f;
  --foreground: #fafafa;
  --muted: #1a1a1a;
  --muted-foreground: #b3b3b3;
  --border: #262626;

  height: 100%;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--foreground);
  background-color: var(--background);
  font-size: calc(12.5rem / 16);
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  height: 100%;

}

h1 {
  font-size: calc(24rem / 16);
  line-height: 1;
  margin: 0;
  font-weight: 600;
}

a {
  color: inherit;
}

*:focus-visible {
  outline-offset: calc(4rem / 16);
  outline: calc(2rem / 16) solid var(--foreground);
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: calc(12rem / 16);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: calc(12rem / 16);
  height: 100%;
}

@media print {
  #root {
    display: none;
  }

  body {
    background: white;
  }

  body::after {
    content: 'Use the Save function to generate a printable list of your code-word pairs.';
    text-align: center;
    color: black;
    font-size: 2rem;
    font-weight: 600;
  }
}