.root {
  border-radius: 32px;
  border: 0;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  flex-shrink: 0;
}

.primary {
  padding: 0 20px;
  min-height: 42px;
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.primary:focus-visible {
  outline: 2px solid var(--primary-foreground);
  outline-offset: -4px;
}

.primary:hover {
  filter: brightness(85%);
}

.primary:active {
  filter: brightness(65%);
}

.secondary {
  padding: 0 16px;
  min-height: 42px;
  background-color: var(--secondary);
  color: var(--secondary-foreground);
}

.secondary:focus-visible {
  outline: 2px solid var(--secondary-foreground);
  outline-offset: -2px;
}

.secondary:hover {
  filter: brightness(120%);
}

.secondary:active {
  filter: brightness(150%);
}

.plain {
  background: none;
  padding: 0;
  margin: 0;
}