.root {
  --min-height: calc(42rem / 16);
  --padding: 0 calc(24rem / 16);
  border-radius: calc(32rem / 16);
  border: 0;
  font-size: calc(14rem / 16);
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  flex-shrink: 0;
}

.primary {
  padding: var(--padding);
  min-height: var(--min-height);
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.primary:focus-visible {
  outline: calc(2rem / 16) solid var(--primary-foreground);
  outline-offset: calc(-4rem / 16);
}

.primary:hover {
  filter: brightness(85%);
}

.primary:active {
  filter: brightness(65%);
}

.secondary {
  padding: var(--padding);
  min-height: var(--min-height);
  background-color: var(--secondary);
  color: var(--secondary-foreground);
}

.secondary:focus-visible {
  outline: calc(2rem / 16) solid var(--secondary-foreground);
  outline-offset: calc(-2rem / 16);
}

.secondary:hover {
  filter: brightness(120%);
}

.secondary:active {
  filter: brightness(150%);
}

.plain {
  background: none;
  padding: 0;
  margin: 0;
}