.root {
  display: flex;
}

.root>button:not(:first-child, :last-child) {
  border-radius: 0;
  padding-left: calc(14rem / 16);
  padding-right: calc(14rem / 16);
}

.root>button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: calc(24rem / 16);
  padding-right: calc(20rem / 16);
}

.root>button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: calc(20rem / 16);
  padding-right: calc(24rem / 16);
}