.root {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  user-select: none;
  background-color: var(--muted);
  color: var(--foreground);
}

.outerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.innerWrapper {
  overflow: auto;
  flex-wrap: wrap;
  display: flex;
  flex-grow: 1;
  padding: 8px;
}

.outerWrapperFocusBorder {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border: 0;
  bottom: 0;
  z-index: 100;
  border: 2px solid var(--foreground);
  border-radius: 8px;
}

.innerWrapper:focus-visible + .outerWrapperFocusBorder {
  display: block;
}

.codeWordPair {
  cursor: none;
  white-space: nowrap;
  overflow: visible;
  width: 14.5ch;
  height: 1.45em;
}

.codeWordPair::after {
  content: attr(data-content);
}

button.message {
  z-index: 10;
  text-align: left;
  width: 100%;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  cursor: pointer;
  color: var(--foreground);
  padding: 8px;
  font-weight: 400;
  background: var(--secondary);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.message:focus-visible {
  outline: 2px solid white;
  outline-offset: -2px;
}

.message:hover {
  filter: brightness(110%);
}

.message:active {
  filter: brightness(120%);
}