.root {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: calc(10rem / 16);
}

.buttons {
  display: flex;
  gap: calc(10rem / 16);
  margin-right: auto;
}

.label {
  font-weight: 700;
  display: inline-block;
}

.info {
  display: flex;
  flex-direction: column;
}

.value {
  margin-left: calc(4rem / 16);
  word-break: break-all;
  color: var(--muted-foreground);
}

.sha256InfoButton {
  font-size: inherit;
  display: inline-flex;
  align-items: center;
  outline-offset: calc(1rem / 16);
}

.infoIcon {
  --size: calc(12rem / 16);
  height: var(--size);
  width: var(--size);
  margin-left: calc(4rem / 16);
}

.zoomIcon {
  --size: calc(18rem / 16);
  width: var(--size);
  height: var(--size);
}