.root {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: calc(10rem / 16);
}

.buttons {
  display: flex;
  gap: calc(10rem / 16);
  margin-right: auto;
}

.label {
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
}

.value {
  margin-left: calc(4rem / 16);
  word-break: break-all;
  color: var(--muted-foreground);
}

button.infoButton {
  --size: calc(12rem / 16);
  height: var(--size);
  width: var(--size);
  margin-left: calc(4rem / 16);
  outline-offset: calc(1rem / 16);
  display: inline-flex;
  align-items: center;
  transform: translateY(calc(1.25rem / 16));
}

.infoIcon {
  height: var(--size);
  width: var(--size);
}

.zoomIcon {
  --size: calc(18rem / 16);
  margin-bottom: calc(-1.5rem / 16);
  width: var(--size);
  height: var(--size);
}