.root {
  display: flex;
  gap: calc(6rem / 16);
  align-items: center;
}

.title {
  display: flex;
  align-items: end;
  gap: calc(8rem / 16);
}

.version {
  color: var(--muted-foreground);
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: calc(24rem / 16);
}

.link {
  align-items: center;
  display: flex;
  border-radius: 50%;
}

.icon {
  --size: calc(18rem / 16);
  width: var(--size);
  height: var(--size);
}