.root {
  display: flex;
  gap: 6px;
  align-items: end;
}

.appVersion {
  color: var(--muted-foreground);
}

.link {
  display: flex;
  align-items: center;
  margin-left: auto;
  border-radius: 50%;
  outline-offset: 4px;
}